# Ignore compiled files
*.pyc
*.pyo
*.pyd
__pycache__

# Ignore system files
.DS_Store

# Ignore logs
nohup.out
logs/
*.err
Output_*

# Ignore results
tmp/
sets/
figs/
tests/

# Ignore virtualenv
myenv/
