# Ignore compiled files
*.pyc
*.pyo
*.pyd
__pycache__

# Ignore system files
.DS_Store

# Ignore logs
nohup.out
logs/
*.out
*.err

# Ignore results
tmp/
sets/
figs/losses/

# Ignore virtualenv
myenv/
